# Feature Engineering

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/us_indicators.csv')

In [3]:
# Change date type to datetime format.
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [4]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease
...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight

## Feature Creation

### Interaction

In [5]:
df['cpi_policy_rate'] = df['cpi'] * df['policy_rate']

In [6]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease,1.980
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease,2.160
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease,2.160
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease,3.780
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease,4.140
...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight,-1.925
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight,-1.175
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight,0.475
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight,3.850
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight,3.850

### Extraction

In [7]:
df['month'] = df['date'].dt.month

In [8]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease,1.980,1
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease,2.160,2
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease,2.160,3
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease,3.780,4
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease,4.140,5
...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight,-1.925,2
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight,-1.175,3
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight,0.475,4
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight,3.850,5
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight,3.850,6

### Lag

In [9]:
df['money_supply_lag'] = df['money_supply'].shift(1)

In [10]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month,money_supply_lag
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease,1.980,1,NaN
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease,2.160,2,147.07
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease,2.160,3,145.49
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease,3.780,4,140.02
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease,4.140,5,138.88
...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight,-1.925,2,721.62
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight,-1.175,3,718.27
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight,0.475,4,711.58
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight,3.850,5,695.69
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight,3.850,6,702.68

### Change

In [11]:
df['cpi_change'] = df['cpi'].diff(1)

In [12]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month,money_supply_lag,cpi_change
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease,1.980,1,NaN,NaN
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease,2.160,2,147.07,0.12
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease,2.160,3,145.49,0.00
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease,3.780,4,140.02,1.08
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease,4.140,5,138.88,0.24
...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight,-1.925,2,721.62,0.34
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight,-1.175,3,718.27,0.30
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight,0.475,4,711.58,0.66
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight,3.850,5,695.69,1.35
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight,3.850,6,702.68,0.00

In [13]:
df['cpi_change_rate'] = df['cpi'].pct_change(1)

In [14]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month,money_supply_lag,cpi_change,cpi_change_rate
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease,1.980,1,NaN,NaN,NaN
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease,2.160,2,147.07,0.12,0.090909
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease,2.160,3,145.49,0.00,0.000000
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease,3.780,4,140.02,1.08,0.750000
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease,4.140,5,138.88,0.24,0.095238
...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight,-1.925,2,721.62,0.34,-0.306306
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight,-1.175,3,718.27,0.30,-0.389610
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight,0.475,4,711.58,0.66,-1.404255
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight,3.850,5,695.69,1.35,7.105263
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight,3.850,6,702.68,0.00,0.000000

### Rolling

In [15]:
df['cpi_rolling_mean'] = df['cpi'].rolling(window=10).mean()
df['cpi_rolling_std'] = df['cpi'].rolling(window=10).std()

In [16]:
df.head(20)

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month,money_supply_lag,cpi_change,cpi_change_rate,cpi_rolling_mean,cpi_rolling_std
0,2001-01-31,1.32,1.50,89.24,147.07,inrange,ease,1.980,1,NaN,NaN,NaN,NaN,NaN
1,2001-02-28,1.44,1.50,90.47,145.49,inrange,ease,2.160,2,147.07,0.12,0.090909,NaN,NaN
2,2001-03-31,1.44,1.50,89.33,140.02,inrange,ease,2.160,3,145.49,0.00,0.000000,NaN,NaN
3,2001-04-30,2.52,1.50,87.32,138.88,inrange,ease,3.780,4,140.02,1.08,0.750000,NaN,NaN
4,2001-05-31,2.76,1.50,87.16,139.49,inrange,ease,4.140,5,138.88,0.24,0.095238,NaN,NaN
5,2001-06-30,2.15,2.50,88.30,139.53,inrange,tight,5.375,6,139.49,-0.61,-0.221014,NaN,NaN
6,2001-07-31,2.03,2.50,87.81,138.87,inrange,tight,5.075,7,139.53,-0.12,-0.055814,NaN,NaN
7,2001-08-31,1.43,2.50,87.32,144.93,inrange,tight,3.575,8,138.87,-0.60,-0.295567,NaN,NaN
8,2001-09-30,1.30,2.50,88.12,144.44,inrange,tight,3.250,9,144.93,-0.13,-0.090909,NaN,NaN
9,2001-10-31,1.32,2.50,88.26,144.56,inrange,tight,3.300,10,144.44,0.02,0.015385,1.771,0.549130
10,2001-11-30,0.96,2.50,89.42,148.71,outrrange,tight,2.400,11,144.56,-0.36,-0.272727,1.735,0.592101
11,2001-12-31,0.72,2.25,91.11,148.43,outrrange,tight,1.620,12,148.71,-0.24,-0.250000,1.663,0.670540
12,2002-01-31,0.84,2.00,91.88,147.27,outrrange,tight,1.680,1,148.43,0.12,0.166667,1.603,0.717883
13,2002-02-28,0.36,2.00,92.56,149.90,outrrange,tight,0.720,2,147.27,-0.48,-0.571429,1.387,0.736041
14,2002-03-31,0.60,2.00,92.89,150.91,outrrange,tight,1.200,3,149.90,0.24,0.666667,1.171,0.590996
15,2002-04-30,0.47,2.00,92.36,152.66,outrrange,tight,0.940,4,150.91,-0.13,-0.216667,1.003,0.515774
16,2002-05-31,0.24,2.00,92.02,155.95,outrrange,tight,0.480,5,152.66,-0.23,-0.489362,0.824,0.421800
17,2002-06-30,0.36,2.00,92.03,158.75,outrrange,tight,0.720,6,155.95,0.12,0.500000,0.717,0.385113
18,2002-07-31,0.24,2.00,92.41,157.59,outrrange,tight,0.480,7,158.75,-0.12,-0.333333,0.611,0.351203
19,2002-08-31,0.36,2.00,91.03,159.25,outrrange,tight,0.720,8,157.59,0.12,0.500000,0.515,0.253476

## Encoding

### Label Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
label_encoder_inflation = LabelEncoder()
df['inflation_target'] = label_encoder_inflation.fit_transform(df['inflation_target'])

In [19]:
label_encoder_policy = LabelEncoder()
df['type_of_monetary_policy'] = label_encoder_policy.fit_transform(df['type_of_monetary_policy'])

In [20]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,month,money_supply_lag,cpi_change,cpi_change_rate,cpi_rolling_mean,cpi_rolling_std
0,2001-01-31,1.32,1.5,89.24,147.07,0,0,1.980,1,NaN,NaN,NaN,NaN,NaN
1,2001-02-28,1.44,1.5,90.47,145.49,0,0,2.160,2,147.07,0.12,0.090909,NaN,NaN
2,2001-03-31,1.44,1.5,89.33,140.02,0,0,2.160,3,145.49,0.00,0.000000,NaN,NaN
3,2001-04-30,2.52,1.5,87.32,138.88,0,0,3.780,4,140.02,1.08,0.750000,NaN,NaN
4,2001-05-31,2.76,1.5,87.16,139.49,0,0,4.140,5,138.88,0.24,0.095238,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,1,1,-1.925,2,721.62,0.34,-0.306306,-0.114,0.668019
278,2024-03-31,-0.47,2.5,118.11,711.58,1,1,-1.175,3,718.27,0.30,-0.389610,-0.214,0.634931
279,2024-04-30,0.19,2.5,116.80,695.69,1,1,0.475,4,711.58,0.66,-1.404255,-0.218,0.631942
280,2024-05-31,1.54,2.5,117.21,702.68,0,1,3.850,5,695.69,1.35,7.105263,-0.102,0.829495
281,2024-06-30,1.54,2.5,117.55,702.68,0,1,3.850,6,702.68,0.00,0.000000,-0.036,0.935761

### One-hot Encoding

In [21]:
df = pd.get_dummies(df, columns=['month'], prefix=['m'])

In [22]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,money_supply_lag,cpi_change,...,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
0,2001-01-31,1.32,1.5,89.24,147.07,0,0,1.980,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2001-02-28,1.44,1.5,90.47,145.49,0,0,2.160,147.07,0.12,...,False,False,False,False,False,False,False,False,False,False
2,2001-03-31,1.44,1.5,89.33,140.02,0,0,2.160,145.49,0.00,...,True,False,False,False,False,False,False,False,False,False
3,2001-04-30,2.52,1.5,87.32,138.88,0,0,3.780,140.02,1.08,...,False,True,False,False,False,False,False,False,False,False
4,2001-05-31,2.76,1.5,87.16,139.49,0,0,4.140,138.88,0.24,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,1,1,-1.925,721.62,0.34,...,False,False,False,False,False,False,False,False,False,False
278,2024-03-31,-0.47,2.5,118.11,711.58,1,1,-1.175,718.27,0.30,...,True,False,False,False,False,False,False,False,False,False
279,2024-04-30,0.19,2.5,116.80,695.69,1,1,0.475,711.58,0.66,...,False,True,False,False,False,False,False,False,False,False
280,2024-05-31,1.54,2.5,117.21,702.68,0,1,3.850,695.69,1.35,...,False,False,True,False,False,False,False,False,False,False
281,2024-06-30,1.54,2.5,117.55,702.68,0,1,3.850,702.68,0.00,...,False,False,False,True,False,False,False,False,False,False

In [23]:
df[['date'] + [x for x in df.columns if 'm_' in x]]

,date,m_1,m_2,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
0,2001-01-31,True,False,False,False,False,False,False,False,False,False,False,False
1,2001-02-28,False,True,False,False,False,False,False,False,False,False,False,False
2,2001-03-31,False,False,True,False,False,False,False,False,False,False,False,False
3,2001-04-30,False,False,False,True,False,False,False,False,False,False,False,False
4,2001-05-31,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,False,True,False,False,False,False,False,False,False,False,False,False
278,2024-03-31,False,False,True,False,False,False,False,False,False,False,False,False
279,2024-04-30,False,False,False,True,False,False,False,False,False,False,False,False
280,2024-05-31,False,False,False,False,True,False,False,False,False,False,False,False
281,2024-06-30,False,False,False,False,False,True,False,False,False,False,False,False

## Transformation

### Normalization

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
df['neer'].describe()

count    282.000000
mean     103.934220
std       11.502054
min       85.840000
25%       94.317500
50%      102.730000
75%      114.322500
max      126.920000
Name: neer, dtype: float64

In [26]:
neer_scaler = MinMaxScaler()
df['neer'] = neer_scaler.fit_transform(df[['neer']])

In [27]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,money_supply_lag,cpi_change,...,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
0,2001-01-31,1.32,1.5,0.082765,147.07,0,0,1.980,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2001-02-28,1.44,1.5,0.112707,145.49,0,0,2.160,147.07,0.12,...,False,False,False,False,False,False,False,False,False,False
2,2001-03-31,1.44,1.5,0.084956,140.02,0,0,2.160,145.49,0.00,...,True,False,False,False,False,False,False,False,False,False
3,2001-04-30,2.52,1.5,0.036027,138.88,0,0,3.780,140.02,1.08,...,False,True,False,False,False,False,False,False,False,False
4,2001-05-31,2.76,1.5,0.032132,139.49,0,0,4.140,138.88,0.24,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,0.795278,718.27,1,1,-1.925,721.62,0.34,...,False,False,False,False,False,False,False,False,False,False
278,2024-03-31,-0.47,2.5,0.785540,711.58,1,1,-1.175,718.27,0.30,...,True,False,False,False,False,False,False,False,False,False
279,2024-04-30,0.19,2.5,0.753651,695.69,1,1,0.475,711.58,0.66,...,False,True,False,False,False,False,False,False,False,False
280,2024-05-31,1.54,2.5,0.763632,702.68,0,1,3.850,695.69,1.35,...,False,False,True,False,False,False,False,False,False,False
281,2024-06-30,1.54,2.5,0.771908,702.68,0,1,3.850,702.68,0.00,...,False,False,False,True,False,False,False,False,False,False

In [28]:
df['neer'].describe()

count    282.000000
mean       0.440463
std        0.279992
min        0.000000
25%        0.206366
50%        0.411149
75%        0.693342
max        1.000000
Name: neer, dtype: float64

### Standardization

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
df['money_supply'].describe()

count    282.000000
mean     432.494929
std      202.217172
min      138.870000
25%      237.987500
50%      470.675000
75%      613.550000
max      765.730000
Name: money_supply, dtype: float64

In [31]:
money_supply_scaler = StandardScaler()
df['money_supply'] = money_supply_scaler.fit_transform(df[['money_supply']])

In [32]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,money_supply_lag,cpi_change,...,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
0,2001-01-31,1.32,1.5,0.082765,-1.413986,0,0,1.980,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2001-02-28,1.44,1.5,0.112707,-1.421814,0,0,2.160,147.07,0.12,...,False,False,False,False,False,False,False,False,False,False
2,2001-03-31,1.44,1.5,0.084956,-1.448912,0,0,2.160,145.49,0.00,...,True,False,False,False,False,False,False,False,False,False
3,2001-04-30,2.52,1.5,0.036027,-1.454560,0,0,3.780,140.02,1.08,...,False,True,False,False,False,False,False,False,False,False
4,2001-05-31,2.76,1.5,0.032132,-1.451538,0,0,4.140,138.88,0.24,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,0.795278,1.415721,1,1,-1.925,721.62,0.34,...,False,False,False,False,False,False,False,False,False,False
278,2024-03-31,-0.47,2.5,0.785540,1.382579,1,1,-1.175,718.27,0.30,...,True,False,False,False,False,False,False,False,False,False
279,2024-04-30,0.19,2.5,0.753651,1.303860,1,1,0.475,711.58,0.66,...,False,True,False,False,False,False,False,False,False,False
280,2024-05-31,1.54,2.5,0.763632,1.338489,0,1,3.850,695.69,1.35,...,False,False,True,False,False,False,False,False,False,False
281,2024-06-30,1.54,2.5,0.771908,1.338489,0,1,3.850,702.68,0.00,...,False,False,False,True,False,False,False,False,False,False

In [33]:
df['money_supply'].describe()

count    2.820000e+02
mean    -1.007862e-16
std      1.001778e+00
min     -1.454609e+00
25%     -9.635839e-01
50%      1.891429e-01
75%      8.969414e-01
max      1.650837e+00
Name: money_supply, dtype: float64

## Dimensionality Reduction

In [34]:
from sklearn.decomposition import PCA

In [35]:
# Drop date as PCA only accept number.
# Drop ['money_supply_lag', 'cpi_change', 'cpi_change_rate', 'cpi_rolling_mean', 'cpi_rolling_std'] as PCA not accept NaN.
features = df.drop(columns=['date', 'money_supply_lag', 'cpi_change', 'cpi_change_rate', 'cpi_rolling_mean', 'cpi_rolling_std'])

In [36]:
features

,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy,cpi_policy_rate,m_1,m_2,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
0,1.32,1.5,0.082765,-1.413986,0,0,1.980,True,False,False,False,False,False,False,False,False,False,False,False
1,1.44,1.5,0.112707,-1.421814,0,0,2.160,False,True,False,False,False,False,False,False,False,False,False,False
2,1.44,1.5,0.084956,-1.448912,0,0,2.160,False,False,True,False,False,False,False,False,False,False,False,False
3,2.52,1.5,0.036027,-1.454560,0,0,3.780,False,False,False,True,False,False,False,False,False,False,False,False
4,2.76,1.5,0.032132,-1.451538,0,0,4.140,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,-0.77,2.5,0.795278,1.415721,1,1,-1.925,False,True,False,False,False,False,False,False,False,False,False,False
278,-0.47,2.5,0.785540,1.382579,1,1,-1.175,False,False,True,False,False,False,False,False,False,False,False,False
279,0.19,2.5,0.753651,1.303860,1,1,0.475,False,False,False,True,False,False,False,False,False,False,False,False
280,1.54,2.5,0.763632,1.338489,0,1,3.850,False,False,False,False,True,False,False,False,False,False,False,False
281,1.54,2.5,0.771908,1.338489,0,1,3.850,False,False,False,False,False,True,False,False,False,False,False,False

In [37]:
pca = PCA(n_components=2)
pca_data = pca.fit_transform(features)

In [38]:
pca_data

array([[-3.03893716e+00, -1.30593762e-01],
       [-2.83608544e+00, -5.50576112e-02],
       [-2.83395669e+00, -6.28266350e-02],
       [-1.00383584e+00,  6.00403020e-01],
       [-5.97294441e-01,  7.48839824e-01],
       [ 5.78805442e-01, -4.90444042e-01],
       [ 2.61395477e-01, -5.45898286e-01],
       [-1.33042873e+00, -8.04692301e-01],
       [-1.67515074e+00, -8.64017937e-01],
       [-1.62225918e+00, -8.54426701e-01],
       [-2.57284053e+00, -1.01868077e+00],
       [-3.41026659e+00, -1.00176408e+00],
       [-3.35062997e+00, -8.16384618e-01],
       [-4.39425733e+00, -1.06464959e+00],
       [-3.87335472e+00, -9.36815696e-01],
       [-4.15550872e+00, -1.00329545e+00],
       [-4.65544883e+00, -1.12168344e+00],
       [-4.39525995e+00, -1.05730560e+00],
       [-4.65547216e+00, -1.12289153e+00],
       [-4.39506763e+00, -1.05906659e+00],
       [-4.15310545e+00, -1.01477929e+00],
       [-1.85657205e+00, -4.40179896e-01],
       [-2.73403765e+00, -2.85727878e-01],
       [-2.03901150e+00, -7.77075313e-02],
       [-9.19288664e-01,  2.58093612e-01],
       [-1.38333123e+00,  1.22986963e-01],
       [-1.86644798e+00, -2.02159957e-02],
       [-2.31028711e+00, -1.51533663e-01],
       [-1.63504395e+00,  5.46192159e-02],
       [-2.92053495e+00,  2.43678533e-01],
       [-2.74626818e+00,  3.23085381e-01],
       [-2.06468831e+00,  6.38495641e-01],
       [-2.76471758e+00,  3.26959522e-01],
       [-3.46292100e+00,  1.20132626e-02],
       [-2.59174814e+00,  4.13570130e-01],
       [-2.76654311e+00,  3.35326758e-01],
       [-3.46598236e+00,  2.39590881e-02],
       [-2.11431017e+00,  6.40618286e-01],
       [-1.76553433e+00,  7.99527285e-01],
       [-1.63402719e+00,  8.58803843e-01],
       [-1.82157662e+00,  7.69191533e-01],
       [-7.81949472e-01,  1.21693364e+00],
       [-6.07183072e-01,  1.29493150e+00],
       [-4.27073241e-02,  9.75098044e-01],
       [ 7.35692112e-01,  1.25807411e+00],
       [ 1.38098701e+00,  9.46737942e-01],
       [ 4.83542978e-01,  7.09486939e-01],
       [ 1.25892737e+00,  3.68042075e-01],
       [ 7.78933321e-01,  2.58704195e-01],
       [ 1.91191892e-01,  1.22050224e-01],
       [ 2.45973400e+00,  2.32525960e-01],
       [ 3.25669602e+00,  3.90575023e-01],
       [ 4.05424213e+00,  5.44417301e-01],
       [ 4.91918226e+00,  2.65627513e-01],
       [ 1.03621621e+01,  6.28476599e-01],
       [ 1.09387013e+01,  7.11854938e-01],
       [ 1.50983742e+01,  1.80607613e-01],
       [ 1.93233580e+01, -4.43540374e-01],
       [ 1.76685402e+01, -5.35322477e-01],
       [ 1.86561164e+01, -9.01121734e-01],
       [ 2.04945326e+01, -1.21118229e+00],
       [ 1.89370909e+01, -1.25734818e+00],
       [ 2.10609627e+01, -1.56966949e+00],
       [ 2.43211035e+01, -1.87702332e+00],
       [ 2.46107578e+01, -1.87771837e+00],
       [ 2.49998766e+01, -2.24258828e+00],
       [ 1.75861555e+01, -2.24507211e+00],
       [ 1.42565790e+01, -2.24357069e+00],
       [ 8.85514603e+00, -2.23584355e+00],
       [ 9.30700765e+00, -2.22760877e+00],
       [ 1.25867268e+01, -2.22461002e+00],
       [ 1.31412404e+01, -2.22488437e+00],
       [ 9.61520797e+00, -1.99891212e+00],
       [ 6.30076341e+00, -1.80529779e+00],
       [ 4.06249406e+00, -1.84354622e+00],
       [ 2.61315947e+00, -1.50590937e+00],
       [ 1.95407662e+00, -1.13726717e+00],
       [ 1.95497620e+00, -1.14173596e+00],
       [ 7.52281039e-01, -1.02167460e+00],
       [-1.16587443e+00, -1.20486935e+00],
       [ 1.79830882e+00, -9.35397626e-01],
       [ 3.44788080e+00, -7.79688751e-01],
       [ 5.33873946e+00, -6.15768927e-01],
       [ 5.33744863e+00, -6.12102911e-01],
       [ 9.51098668e+00, -2.17793052e-01],
       [ 1.30414913e+01,  1.31018650e-01],
       [ 1.29392905e+01,  1.25507404e-01],
       [ 1.53987110e+01,  3.51364279e-01],
       [ 2.05204146e+01,  8.14426403e-01],
       [ 2.42975050e+01,  1.14268850e+00],
       [ 2.80004477e+01,  7.84178896e-01],
       [ 2.00657909e+01, -2.95688780e-01],
       [ 1.81799812e+01, -4.03024381e-01],
       [ 9.91124687e+00, -8.86426584e-01],
       [ 3.01979307e+00, -1.26706430e+00],
       [-3.85845848e+00, -1.19953189e+00],
       [-6.25823338e+00, -1.35514919e+00],
       [-5.51283960e+00, -8.72225055e-01],
       [-5.71745816e+00, -9.40283285e-01],
       [-6.69174894e+00, -1.31256029e+00],
       [-1.02849640e+01, -2.93308588e+00],
       [-1.10545385e+01, -3.28770195e+00],
       [-1.16785162e+01, -3.57649431e+00],
       [-7.01260362e+00, -1.45473056e+00],
       [-6.83930057e+00, -1.37280550e+00],
       [-4.83351532e+00, -4.59226681e-01],
       [-2.61697915e+00,  5.74281975e-01],
       [-3.02065801e-01,  1.61788824e+00],
       [ 6.12845984e-01,  2.03679809e+00],
       [ 6.11988262e-04,  1.76661646e+00],
       [-3.81259969e-01,  1.60937305e+00],
       [-1.04071757e+00,  1.32684873e+00],
       [-3.96678016e-01,  1.60883532e+00],
       [-5.26181864e-01,  1.54328618e+00],
       [ 5.50466329e-01,  1.40086434e+00],
       [ 1.19221999e+00,  1.11118669e+00],
       [ 5.68644152e-01,  9.45124294e-01],
       [ 3.85586223e-01,  9.21542813e-01],
       [ 1.13747796e-01,  8.46903883e-01],
       [ 1.46267017e+00,  6.54879735e-01],
       [ 2.11298311e+00,  3.93631434e-01],
       [ 1.71793319e+00,  3.46125996e-01],
       [ 3.15392946e+00,  2.45178350e-01],
       [ 6.50456182e+00,  3.85271578e-01],
       [ 6.93978416e+00,  4.39581735e-01],
       [ 7.56576443e+00,  1.12765036e-01],
       [ 8.69482100e+00, -1.22118258e-01],
       [ 1.03889970e+01, -3.40382308e-01],
       [ 9.38336209e+00, -4.34548280e-01],
       [ 1.00289773e+01, -3.71262456e-01],
       [ 8.99665333e+00, -9.14012995e-02],
       [ 6.80806772e+00, -2.95842763e-01],
       [ 5.39979817e+00, -1.03131636e-01],
       [ 5.30204728e+00, -9.83251610e-02],
       [ 5.61531459e+00, -6.51766625e-02],
       [ 2.57314606e+00, -3.88837888e-01],
       [ 2.73403988e+00, -3.87262737e-01],
       [ 2.85720863e+00, -3.65899339e-01],
       [ 3.35672511e+00, -3.05369411e-01],
       [ 3.26027553e+00, -3.07103265e-01],
       [ 5.41998796e+00, -6.10308269e-02],
       [ 4.40733877e+00,  1.61930819e-01],
       [ 2.69482728e+00, -4.97330720e-02],
       [ 5.27032858e+00,  2.95799473e-01],
       [ 4.57169400e+00,  2.18747422e-01],
       [ 4.13616244e+00,  1.67463673e-01],
       [ 2.56605727e+00, -1.78824504e-02],
       [ 1.78510691e+00, -1.20561039e-01],
       [ 7.84594906e-01, -5.83623836e-03],
       [ 7.37027127e-01, -3.48435879e-02],
       [ 1.02352331e-01, -1.46456255e-01],
       [-1.00759606e+00, -3.44370040e-01],
       [-1.43599864e+00, -3.99839816e-01],
       [-1.35752884e+00, -3.82414493e-01],
       [-6.24348045e-01, -1.16030574e-02],
       [-1.22580465e+00, -1.37737880e-01],
       [-5.98005027e-01, -1.52255095e-02],
       [-5.29021746e-01,  1.31913670e-02],
       [-7.22591381e-01,  2.63887419e-01],
       [ 5.94542224e-02,  4.55848947e-01],
       [ 3.88132971e-01,  5.25349034e-01],
       [-1.77670832e-01,  3.91621578e-01],
       [-5.91316061e-01,  2.94213747e-01],
       [-7.45448572e-01,  2.63880876e-01],
       [-1.48261589e+00,  7.65431994e-02],
       [-2.06936790e+00, -6.43396725e-02],
       [-2.54896360e+00, -1.73367965e-01],
       [-3.97940969e+00, -5.27013282e-01],
       [-6.15394704e+00, -1.04588831e+00],
       [-6.44009342e+00, -1.09924737e+00],
       [-6.43769541e+00, -9.24019091e-01],
       [-7.14183852e+00, -1.16293618e+00],
       [-7.52680907e+00, -1.31887410e+00],
       [-7.16995839e+00, -1.19555106e+00],
       [-7.14739019e+00, -1.21155684e+00],
       [-7.38041545e+00, -1.31388633e+00],
       [-7.17522854e+00, -1.24954014e+00],
       [-6.67108194e+00, -1.04931667e+00],
       [-7.02791046e+00, -1.17355828e+00],
       [-6.82554307e+00, -1.09702856e+00],
       [-6.28619112e+00, -8.90953848e-01],
       [-6.21993262e+00, -8.59713125e-01],
       [-6.15449953e+00, -8.25739707e-01],
       [-5.27457761e+00, -5.00012371e-01],
       [-4.59310268e+00, -2.68832011e-01],
       [-4.71367819e+00, -3.04521157e-01],
       [-5.18889884e+00, -4.73315994e-01],
       [-4.88491735e+00, -3.60562265e-01],
       [-4.73273325e+00, -3.06805195e-01],
       [-4.80044318e+00, -3.31060352e-01],
       [-4.34253979e+00, -1.67649387e-01],
       [-3.48585490e+00,  1.64069902e-01],
       [-2.76160777e+00,  4.43287817e-01],
       [-2.93297998e+00,  3.90601860e-01],
       [-4.09791002e+00, -3.96565456e-02],
       [-4.74112315e+00, -2.72336939e-01],
       [-5.45445513e+00, -5.21125826e-01],
       [-5.47223982e+00, -5.25077022e-01],
       [-5.11939394e+00, -3.85675308e-01],
       [-4.84964144e+00, -2.84016123e-01],
       [-3.93485344e+00,  4.46146094e-02],
       [-3.93663391e+00,  5.15933271e-02],
       [-3.73894954e+00,  1.47292951e-01],
       [-4.08036709e+00,  3.40808501e-02],
       [-4.25720481e+00,  1.30164009e-03],
       [-4.69791287e+00, -1.56300728e-01],
       [-4.07491403e+00,  8.49640853e-02],
       [-3.60424990e+00,  2.65044632e-01],
       [-2.88996232e+00,  5.12792234e-01],
       [-3.05361075e+00,  4.28575043e-01],
       [-2.91630686e+00,  4.70904397e-01],
       [-2.66479066e+00,  5.70729939e-01],
       [-3.15970074e+00,  4.03899496e-01],
       [-3.30987317e+00,  3.40081378e-01],
       [-3.81417939e+00,  1.50290248e-01],
       [-4.70678300e+00, -2.97070860e-01],
       [-4.88787683e+00, -3.21866961e-01],
       [-3.98016672e+00, -5.08672256e-02],
       [-2.99861142e+00,  2.49235197e-01],
       [-3.01744209e+00,  2.44292931e-01],
       [-3.17337007e+00,  2.04318199e-01],
       [-3.71373422e+00,  4.76325122e-02],
       [-3.50117571e+00,  1.09653918e-01],
       [-4.54557918e+00, -3.21994819e-02],
       [-4.88565312e+00, -1.52631492e-01],
       [-5.24545497e+00, -2.65219569e-01],
       [-5.17061560e+00, -1.05007335e-01],
       [-4.18627075e+00,  3.60084980e-01],
       [-3.92089681e+00,  4.56452685e-01],
       [-4.58415706e+00,  3.49070053e-01],
       [-6.03837739e+00, -4.83198410e-01],
       [-8.43242158e+00, -2.29417056e+00],
       [-8.08289104e+00, -2.66615159e+00],
       [-6.71950536e+00, -1.17315983e+00],
       [-6.27554343e+00, -7.06881120e-01],
       [-5.92305598e+00, -3.24721414e-01],
       [-6.06593234e+00, -5.01823137e-01],
       [-5.92218680e+00, -3.29465083e-01],
       [-5.86540548e+00, -2.21157702e-01],
       [-5.76618787e+00, -9.60752955e-02],
       [-5.81811297e+00, -1.50333750e-01],
       [-6.42681038e+00, -8.15329060e-01],
       [-5.61908310e+00,  2.68728671e-02],
       [-3.05029769e+00,  2.79321551e+00],
       [-3.76960048e+00,  2.03976280e+00],
       [-4.63804261e+00,  1.06782752e+00],
       [-5.21601008e+00,  4.01364022e-01],
       [-5.56664516e+00,  4.76114736e-02],
       [-4.31344673e+00,  1.37497261e+00],
       [-3.80154395e+00,  1.94301696e+00],
       [-3.55842568e+00,  2.20294797e+00],
       [-3.96069135e+00,  1.79438144e+00],
       [-3.17554612e+00,  2.62100509e+00],
       [-1.67257429e+00,  4.26691929e+00],
       [-1.33982052e+00,  4.61727240e+00],
       [-2.12859195e+00,  3.74107579e+00],
       [-3.24867985e-01,  5.67993441e+00],
       [ 9.47256218e-02,  6.09384345e+00],
       [ 6.51146777e-02,  6.02696578e+00],
       [ 2.15751902e+00,  5.79068673e+00],
       [ 2.31171992e+00,  4.30865099e+00],
       [ 1.78980072e+00,  4.00539202e+00],
       [ 1.24980312e+00,  3.77177584e+00],
       [ 3.09521709e+00,  3.68127950e+00],
       [ 3.04716544e+00,  2.84459828e+00],
       [ 9.78160461e-01,  2.03522394e+00],
       [ 4.59900995e-02,  1.27013108e+00],
       [-2.62536565e-01,  1.17832451e+00],
       [-4.19472699e+00, -3.16514134e-01],
       [-4.84127903e+00, -4.94585781e-01],
       [-4.52213819e+00, -3.90060874e-01],
       [-3.19247003e+00, -2.75157552e-01],
       [-4.48250633e+00, -6.93266731e-01],
       [-6.10194477e+00, -9.50053982e-01],
       [-6.45378632e+00, -9.78985627e-01],
       [-7.49389005e+00, -1.12613230e+00],
       [-8.23061821e+00, -1.27100997e+00],
       [-7.32840776e+00, -1.12382390e+00],
       [-6.53122227e+00, -9.99705437e-01],
       [-4.77679348e+00, -7.26223732e-01],
       [-1.20655005e+00, -1.08410715e-01],
       [-1.20631057e+00, -1.10238764e-01]])

In [39]:
pca_df = pd.DataFrame(data=pca_data)

In [40]:
pca_df

            0         1
0   -3.038937 -0.130594
1   -2.836085 -0.055058
2   -2.833957 -0.062827
3   -1.003836  0.600403
4   -0.597294  0.748840
..        ...       ...
277 -7.328408 -1.123824
278 -6.531222 -0.999705
279 -4.776793 -0.726224
280 -1.206550 -0.108411
281 -1.206311 -0.110239

[282 rows x 2 columns]

In [41]:
features_df = pd.concat([df[['date']], pca_df], axis=1)
features_df

          date         0         1
0   2001-01-31 -3.038937 -0.130594
1   2001-02-28 -2.836085 -0.055058
2   2001-03-31 -2.833957 -0.062827
3   2001-04-30 -1.003836  0.600403
4   2001-05-31 -0.597294  0.748840
..         ...       ...       ...
277 2024-02-29 -7.328408 -1.123824
278 2024-03-31 -6.531222 -0.999705
279 2024-04-30 -4.776793 -0.726224
280 2024-05-31 -1.206550 -0.108411
281 2024-06-30 -1.206311 -0.110239

[282 rows x 3 columns]